@import "tailwindcss";

/* Custom scrollbar for cleaner look */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1; /* Slate-300 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; /* Slate-400 */
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f0fcff; /* Light Blue */
  color: #334155; /* Slate-700 */
}
